:root {
  --background: #1e1e2e;
  --text-color: #ffffff;
  --highlight-color: #ff6347;
  --border-color: #ff4500;
  --secondary-bg: #2e2e42;
  --secondary-text: #ffebcd;
  --shadow-color: #8b0000;
}

.floating-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 60px;
  height: 60px;
  background-color: var(--highlight-color);
  color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

body {
  font-family: sans-serif;
  background: var(--background);
  margin: 0;
  padding: 0;
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: var(--text-color);
  margin-top: 20px;
}

.summary h1 {
  color: var(--highlight-color);
}

label {
  font-size: 1.2em;
  color: var(--text-color);
  margin: 10px;
}

select {
  padding: 5px 10px;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--secondary-bg);
  font-size: 1em;
  color: var(--text-color);
}

.btn {
  background-color: var(--border-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  padding: 6px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  margin: 0px 15px;
}

.btn:hover {
  background-color: var(--highlight-color);
  transform: scale(1.1);
}

.radio-group {
  margin: 15px 0;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 15px;
  background-color: var(--secondary-bg);
  border: 2px solid var(--highlight-color);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.radio-group label:hover {
  background-color: var(--border-color);
  transform: scale(1.1);
}

.radio-group input[type="radio"]:checked + label {
  background-color: var(--border-color);
  color: var(--text-color);
  transform: scale(1.1);
}

canvas {
  background-size: cover;
  border: 5px solid var(--border-color);
  border-radius: 15px;
  margin-top: 16px;
  background-color: var(--secondary-bg);
  padding: 16px;
}

footer {
  width: 100%;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

footer a {
  color: var(--highlight-color);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

#resume {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.deck-summary {
  display: flex;
  align-items: center;
  margin-left: 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.details-section {
  display: flex;
  flex-direction: column;
}

.deck-section {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.deck-section h2 {
  margin-top: 20px;
  font-size: 1.5em;
  color: var(--highlight-color);
}

.deck-block-summary > :first-child {
  align-self: center;
}

.deck-block:last-child {
  margin-bottom: 0;
}

.deck-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.deck-image-main {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.radio-group {
  display: none;
}

@media (min-width: 800px) {
  .radio-group.visible {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    align-items: center;
  }

  .deck-block-summary {
    display: flex;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 16px;
    justify-content: space-evenly;
  }

  .deck-block {
    display: flex;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
    margin-left: 16px;
    width: 250px;
    align-items: center;
  }

  .summary {
    background-color: var(--secondary-bg);
    color: var(--text-color);
    padding-bottom: 10px;
    margin: 60px 0px;
    border-radius: 10px;
    width: 1048px;
    border: 5px solid var(--border-color);
  }

  .deck-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .deck-info {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .deck-info h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--text-color);
  }

  .deck-info p {
    margin: 3px 0;
    font-size: 0.9em;
    color: var(--text-color);
  }

  .deck-info p:first-of-type {
    margin-top: 16px;
  }
}

@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: initial;
    gap: 4px;
  }

  #section-chart {
    width: 340px !important;
  }

  #getDataButton {
    margin: 16px 0;
  }

  .deck-block-summary {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
  }

  .deck-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    margin-left: 16px;
    align-items: center;
    width: 310px;
  }

  .deck-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .summary {
    background-color: var(--secondary-bg);
    color: var(--text-color);
    padding-bottom: 10px;
    margin: 30px 0px;
    border-radius: 10px;
    border: 5px solid var(--border-color);
  }

  .deck-info {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
  }

  .deck-info h3 {
    margin: 0;
    font-size: 1.2em;
    color: var(--text-color);
  }

  .deck-info p {
    margin: 3px 0;
    font-size: 0.9em;
    color: var(--text-color);
  }

  .deck-info p:first-of-type {
    margin-top: 16px;
  }

  .deck-image {
    width: auto;
    height: 140px;
    margin-top: 12px;
  }
}

.main {
  flex: 1;
}
